.ListTest {
    position: absolute;
    width: 100%;
    height: 100%;

    &-layout {
        align-items: flex-start !important;

        &-header {
            height: 40px;
            display: flex;
            flex-direction: column;
        }

        &-footer {
            z-index: 1;
            width: 100%;
            background-color: #ddd !important;

            &-name {
                display: flex;
                align-items: center;
                min-width: 120px;
                height: auto;
                font-weight: bold;
                color: darkred !important;
                padding: 0 !important;
            }
        }

        &-contents {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &-list {
        top: 10px;
        position: relative;
        background-color: #fff;
        width: 97%;
        border-radius: 5px 5px;
        box-shadow: #3c40434d 0px 1px 2px 0px, #3c404326 0px 1px 3px 1px;

        tbody {
            tr {

                td:nth-child(1),
                td:nth-child(2) {
                    width: 50px;
                }

                td:nth-child(4),
                td:nth-child(5) {
                    width: 150px;
                }

                td:nth-child(6) {
                    width: 200px;
                }
            }
        }
    }

    &-menu {
        z-index: 1;
        padding: 0 !important;

        span {
            height: 30px;
        }
    }



    &-popup {
        &-run {
            padding: 15px;
            display: flex;
            flex-direction: column;

            &-message {
                margin-bottom: 10px;
            }
        }
    }

    &-filters {
        display: flex;
        z-index: 1;
        height: 30px;
        padding: 5px;
        width: 100%;
        background-color: #fff;
        margin-top: 35px;

        button {
            margin-left: 5px;
        }
    }
}