.App {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-content {
        position: relative;
        height: fit-content;
        background-color: blue;
    }

    &-footer {
        &-name {
            margin-left: 5px;
            margin-right: 5px;

            &-agencies {
                padding: 0 !important;
                // padding-left: 5px !important;
                padding-right: 5px !important;

                &-item {
                    span {
                        width: 100% !important;
                        padding-left: 8px;
                        padding-right: 8px;
                    }

                }
            }
        }
    }

    &-logo {
        pointer-events: none;
    }

    &-component-name {
        right: 0;
        position: absolute;
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px;
    }

    &-layout {
        top: 0;
        left: 0;
    }
}