.Layout {
    position: absolute;
    width: 100%;
    height: 100%;

    &-content {
        position: absolute;
        height: 100%;
        width: 100%;
        // display: block;
        flex-wrap: wrap;
        // overflow-y: auto;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &-header,
    &-footer {
        z-index: auto;
        background-color: #f7f7f7;
    }

    &-header {
        position: absolute;
        width: 100%;
        overflow-x: auto;

        display: flex;

        &-sticky {
            @extend .Layout-header;
            // position: fixed;
            top: 0;
        }
    }

    &-footer {
        position: relative;
        display: flex;
        width: 100%;

        &-sticky {
            @extend .Layout-footer;
            position: fixed;
            bottom: 0;
        }
    }
}

@media (min-width: 720px) {
    .Layout {

        &-content {
            display: flex;
            justify-content: center;
        }
    }
}